OPENTAB_API_URL=
OPENTAB_FRONTEND_URL=

OPENTAB_POSTGRES_USER=
OPENTAB_POSTGRES_PASSWORD=
OPENTAB_POSTGRES_DB=
OPENTAB_POSTGRES_HOST=
OPENTAB_POSTGRES_PORT=

OPENTAB_GOOGLE_CLIENT_SECRET=
OPENTAB_GOOGLE_CLIENT_ID=
OPENTAB_GITHUB_CLIENT_SECRET=
OPENTAB_GITHUB_CLIENT_ID=